@using Telerik.Web.Mvc.UI

@using RiftData.Domain.Entities

@model RiftData.Shared.ViewModels.HomePageViewModel
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section CenterPanel{
    <h1>hello</h1>
}


@section Scripts{
    <script src="../../Scripts/PageScripts/home.js" type="text/javascript"></script>
}