@model RiftData.Presentation.ViewModels.Mobile.SpeciesIndexPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_mobileLayout.cshtml";
}
@section PageContent{
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Size</li>
    <li>@Model.Species.SizeString</li>
    <li data-role="list-divider">Temperament</li>
    <li> @Model.Species.Temperament</li>
</ul>
@if(Model.Locales.Count < 0){
<div data-role="collapsible">
    <h3>Locales</h3>
    <ul data-role="listview" data-inset="true">

        @foreach(var locale in Model.Locales)
    {
        <li>@locale.Name</li>
    }
    </ul>
</div>
    }
    @if(Model.Species.HasPhotos){
        <a href="@Url.Action("Photos", new { speciesName = Model.Species.UrlName })" data-role="button">View Photos</a>
        }
}