@using Telerik.Web.Mvc.UI
@using RiftData.Domain.Entities
@model RiftData.Shared.ViewModels.PanelViewModelBase

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="LeftPanel" class="panels">
    <div id="TabContainer">
        @{Html.Telerik().TabStrip().HtmlAttributes(new { style= "height:700px" }).Name("Tabby").BindTo(Model.GenusTypes, (item, genusType) =>
            {
                item.Text = genusType.Name;
                item.ContentUrl = Url.Action("GenusPanel", "Genus", new { id = genusType.Id, selectedGenusId = Model.SelectedGenusId, selectedSpeciesId = Model.SelectedSpeciesId });
                item.Selected = genusType.Id == Model.SelectedGenusTypeId;
            }).Render();
        }
    </div>
</div>
<div id="CenterPanel" class="panels">
    <div id="CenterPanelTop"></div>
    <div id="CenterPanelContent">
        @RenderSection("CenterPanel", false)
    </div>
    <div id="CenterPanelBottom"></div>
</div>
<div id="RightPanel" class="panels">
    <div id="LocaleMap"></div>
    @Html.Hidden("GetLocalesBySpeciesUrl", Url.Action("GetLocalesBySpecies", "Locale"))
</div>
<div class="clear"></div>
@section Scripts{
    @Html.Telerik().ScriptRegistrar()
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script> 
    @RenderSection("Scripts", false)
}
