@using RiftData.Domain.Entities
@model RiftData.Shared.ViewModels.GenusPanelViewModel

<div id="GenusPanel">
    @(Html.Telerik().PanelBar()
            .Name("GenusPanel_" + Model.GenusType)
            .ClientEvents(evt => evt.OnSelect("OnGenusPanelSelect"))
            .Items(panelbar => 
                {
                    foreach (var genus in Model.GenusList)
                    {
                        panelbar.Add().Text(genus.Name).Items(panelBarChild =>
                            {
                                foreach (var species in genus.Species)
                                {
                                    panelBarChild.Add().Text(species.FullName);
                                }
                            });
                    }
                })
    )
</div>