@using RiftData.Domain.Entities
@model RiftData.Shared.ViewModels.GenusPanelViewModel

<div id="GenusPanel">
    @(Html.Telerik().PanelBar()
            .Name("GenusPanel_" + Model.GenusType.Id)
            .ExpandMode(PanelBarExpandMode.Single)
            .Items(panelbar => 
                {
                    foreach (var genus in Model.GenusList)
                    {
                        panelbar.Add().Text(genus.Name)
                                                .Expanded(genus.Id == Model.ExpandedGenus ? true : false)
                                                .HtmlAttributes(new { @class="genusPanel" })
                                                .Items(panelBarChild =>
                                                    {
                                                        foreach (var species in genus.Species)
                                                        {
                                                            if (species.HasPhotos)
                                                            {
                                                                panelBarChild.Add().Text(species.FullName)
                                                                    .Selected(species.Id == Model.SelectedSpecies)
                                                                    .LinkHtmlAttributes(new { id = "species_" + species.Id })
                                                                    .ImageUrl(Url.Content("../Content/camera.png"))
                                                                    .ImageHtmlAttributes(new { @class = "panelBarItemImage" })
                                                                    .Url(Url.Action("Index", "Species", new { speciesFullName = species.UrlName }));
                                                            }
                                                            else
                                                            {
                                                                panelBarChild.Add().Text(species.FullName)
                                                                    .Selected(species.Id == Model.SelectedSpecies)
                                                                    .LinkHtmlAttributes(new { id = "species_" + species.Id })
                                                                    .ImageUrl(Url.Content("../Content/camera.png"))
                                                                    .ImageHtmlAttributes( new { @class = "panelBarItemImage", style = "display:none" })
                                                                    .Url(Url.Action("Index", "Species", new { speciesFullName = species.UrlName }));
                                                            }
                                                        }
                                                    });
                    }
                })
    )
</div>