@model  RiftData.Shared.ViewModels.PhotoGalleryViewModel

<ul id="pg">
    @{foreach (var photo in Model.Photos)
    {<text>
        <li>
	        <img src="@photo.MediumUrl" alt="@Model.Name" />
            <p>@photo.Caption</p>
        </li>
    </text>
    }}
</ul>
