/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: white;
    font-size: 75%;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background-image:url('../../Content/header-bg.png');
}
/*
a:link
{
    color: #00b899;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}
*/
p
{
    
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 1.5em;
    color: #323232;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    font-weight:bold;
    padding: 0 0 10px 0;
}
h3
{
    font-weight:bold;
    font-size: 1.2em;
}
h4
{
    font-weight:bold;
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/
/*
table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
#PageContainer
{
    width: 1024px;
    height:702px;
    margin-left: auto;
    margin-right: auto;
    background-image:url('../../Content/page-bg.jpg');
    
    background-color:#ffffff;
    border-width:2px;
    border-color:#feffde;
    -moz-box-shadow:0px 0px 40px #000;
    -webkit-box-shadow:0px 0px 40px #000;
    box-shadow:0px 0px 40px #000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
#TabContainer
{
    width: 240px;
}
#GenusPanel
{
    width: 230px;
    margin-left: -12px;
    margin-top: -3px;
    margin-bottom: -3px;
}
.panels
{
    float:left;
}
#LeftPanel
{
    width:240px;
    margin-left: -1px;    
}
#CenterPanel
{
    width:450px;
    padding:10px;
    margin-top:-1px;
}
#RightPanel
{
    width:314px;
    height:100%;
    float:right;
}
#LocaleMap
{
    width:314px;
    position:absolute;
    height:642px;
}
#LocaleMap.div.div.div.div.div
{
    font-size:smaller;
}
.t-panelbar
{
    max-height:615px;
    overflow:auto;
}
.photoCell
{
    float:left;
}
.t-link .panelBarItemImage
{
    width:50px;
    height:25px;
    float:none;
    margin-left: -15px;
    margin-right: -10px;
}
.horiztonalList li
{
    float:left;
    list-style:none;
}
#InfoContainer
{
    margin-bottom:30px;
}
.infoBlock
{
    height:150px;
    max-width:200px;
    float:left;
}
.infoBlock ul
{
    overflow:auto;
}
.horizontalList
{
    margin-left:-30px;
}
.horiztonalList li h3
{
    margin-top:0px;
    margin-right:5px;
}
#LocalesList
{
    height:125px;
    width:165px;
    overflow:auto;
    font-size:0.95em;
}

#PhotoCellContainer
{
    margin-left: 17px;
}
#CenterPanelTop
{
    height:34px;
    background-image:url('../../Content/CenterPanel/top-bg.png');
}
#CenterPanelContent
{
    background-image:url('../../Content/CenterPanel/body-bg.png');
    background-repeat:repeat-y;
    padding-left:20px;
    padding-right:20px;
}
#CenterPanelContent p
{
    margin-bottom:0px;
}
#CenterPanelContent h2
{
    margin-top:0px;
}
#CenterPanelBottom
{
    height:36px;
    background-image:url('../../Content/CenterPanel/bottom-bg.png');
}
#LocalesList ul
{
    list-style:none;
    margin-left:-40px;
}
#LocalesList ul li
{
    margin-bottom:5px;
}
#contentHolder
{
    max-height: 620px;
    overflow: auto;
}
.cameraPicBlank
{
    width: 25px;
    height: 16px;
    float: left;
    margin-right: 5px;
}
.localeListImage
{
    margin-bottom: -4px;
}
#Header
{
    height:100px;
    background-color:White;
    background-image:url('../Content/header-bg.jpg');
    border-bottom-width: 2px;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #007EBD;
}

#Header h1
{
    margin: 0px;
    margin-top: 3px;
    font-size: 34pt;
    color: #046;
    text-shadow: 0px 1px 3px #3BF;
    float: left;
}

#Logo
{
    float:left;
    height:60px;
}
#LocaleInfoBoxContainer
{
    z-index:1000;
    position: absolute;
}
.localeLabel
{
    color: White;
    font-size:smaller;
    text-align:center;
}
#Footer
{
    height:15px;
    background-image:url('../../Content/header-bg.jpg');
}

#HeaderButtonsContainer
{
    float:right;
    height: 20px;

}
.headerButton
{
background-color: #046;
-moz-box-shadow: 0px 1px 3px #3BF;
-webkit-box-shadow: 0px 1px 3px #3BF;
box-shadow: 0px 1px 3px #3BF;
-moz-border-radius: 10px;
-webkit-border-radius: 8px;
border-radius: 10px;
padding: 8px;
margin-bottom: 100%;
margin-top: 3px;
margin-right: 1px;
color: white;
float: left;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}
#HeaderButtonsContainer a
{
    text-decoration:none;
}

.headerButtonHover
{
    background-color: #3BF;
    -moz-box-shadow: 1px 1px 3px #046;
    -webkit-box-shadow: 1px 1px 3px #046;
    box-shadow: 0px 1px 2px #046;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 100%;
    margin-top: 13px;
    margin-right: 13px;
    color: white;
    float:left;
    background-image:url('../../Content/header-bg.jpg');
}
#HeaderTabs
{
    margin-left:5px;
    height: 30px;
    margin-top: -27px;
}
.headerTab
{
    background-color: #046;
    -moz-box-shadow: 0px 1px 3px #3BF;
    -webkit-box-shadow: 0px 1px 3px #3BF;
    box-shadow: 1px -1px 3px #3BF;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
    margin-right: 2px;
    color: white;
    float: left;
    
}

.headerTabSelected
{
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
    margin-right: 2px;
    color: white;
    float: left;
    border-width: 1px;
    border-color: #046;
    border-style: solid;
    border-bottom-width: 0px;
}

#HeaderMenu
{
    height:20px;
    margin-left:5px;
}
.headerMenuItem
{
background-color: #046;
-moz-box-shadow: 0px 1px 3px #3BF;
-webkit-box-shadow: 0px 1px 3px #3BF;
box-shadow: 0px 1px 3px #3BF;
-moz-border-radius: 10px;
-webkit-border-radius: 8px;
border-radius: 10px;
padding: 8px;
margin-top: 3px;
margin-right: 1px;
color: white;
float: left;
}
.divider
{
    border-style:solid;
    border-color:#046;
    border-bottom-width:1px;
    border-top-width:0px;
    
}
#LogoContainer
{
    float:right;
    margin-right:30px;
}