@using Telerik.Web.Mvc.UI
@model RiftData.Shared.ViewModels.SpeciesPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section CenterPanel{
<h2>@Model.SpeciesName</h2>
<div id="pg-container">
    @Html.Partial("PhotoGallery", Model.PhotoGalleryViewModel)
</div>
}
@section Scripts{
    
    <script src="../../Scripts/PhotoGrid/jphotogrid.min.js" type="text/javascript"></script>
    <script src="../../Scripts/PageScripts/Species.js" type="text/javascript"></script>
    <script src="../../Scripts/PageScripts/home.js" type="text/javascript"></script>
}