@using Telerik.Web.Mvc.UI
@model RiftData.Shared.ViewModels.SpeciesPageViewModel

@{
    ViewBag.Title = Model.SpeciesName;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section CenterPanel{
    <h2>@Model.SpeciesName</h2>
    @Html.Partial("PhotoGallery", Model.PhotoGalleryViewModel)
}
@section Scripts{
    <script src="../../Scripts/PiroBox/pirobox.js" type="text/javascript"></script>
    <script src="../../Scripts/PageScripts/Species.js" type="text/javascript"></script>
    <script src="../../Scripts/PageScripts/home.js" type="text/javascript"></script>
}