@{
    this.ViewBag.Title = "RiftData | Help Us";
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="CenterPanelContent" class="infoContainer">
    <h2>Help Us</h2>
    <p>
        We really need your help, especially with collating photos and other data. If have any photos you would like to donate, please <a href="mailto:dom.barker808@gmail.com?subject=RiftData">get in touch</a>. Additionally if you see any mistakes or omissions <a href="mailto:dom.barker808@gmail.com?subject=RiftData">drop us a line</a> too.
    </p>
</div>