@{
    this.ViewBag.Title = "RiftData | Thanks";
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="CenterPanelContent" class="infoContainer">
    <h2>Thanks</h2>
    <p>Massive thanks to:</p>
    <p>
        Sally, Harvey, Pete and everyone at <a target="_blank" href="http://riftforum.com">RiftForum</a>
    </p>
    <p>
        Rick and Lee at <a target="_blank" href="http://ssa.apphb.com">SSA</a>
    </p>
    <p>
        Carl, Jill, Marc and the guys at <a target="_blank" href="http://www.malawiforum.co.uk">Malawi Forum</a>
    </p>
    <p>
        Jimbo, MalawiBob, Becca and all the people at <a target="_blank" href="http://www.cichlidsforum.co.uk">Cichlids Forum</a>
    </p>
    <p>
        Nadine from <a target="_blank" href="http://lakemalawi.co.uk">Lake Malawi Forum</a>
    </p>
    <p>
        Colin and the gang at <a target="_blank" href="http://www.malawicichlidsuk.co.uk/">Malawi Cichlids UK</a>
    </p>
    <p>
        If you would like to see your name on this page @Html.ActionLink("give us a hand", "HelpUs")
    </p>
</div>