@{
    ViewBag.Title = "This is not a locale!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CenterPanelContent" class="infoContainer">
    <div id="contentHolder">
        <h1>This is not a locale!</h1>
        <img src="@Url.Content("~/Content/Error/sadpuppy.jpg")" alt="sad puppy" />
        <p>We are really sorry to say we couldn't find the locale you were looking for. That's not to say it doesn't exist, only we haven't put it where you were looking.</p>
    </div>
</div>