@using Telerik.Web.Mvc.UI

@using RiftData.Domain.Entities

@model RiftData.Presentation.ViewModels.HomePageViewModel
           
@{
    ViewBag.Title = "RiftData | " + Model.GenusType.Name;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section CenterPanel{
    <h2>@Model.GenusType.Name</h2>
    @{if (Model.GenusType.HasDescription)
      {
          @Model.GenusType.Description
      }
      else
      {
          <p>No description available for this genus type, check again soon!</p>
      }
    }

    <p>Click the links of the left to view species of that Genus.</p>
}


@section Scripts{
    <script src="../../Scripts/PageScripts/home.js" type="text/javascript"></script>
}