
@using RiftData.Presentation.ViewModels
@model HomePageViewModel
           
@{
    this.ViewBag.Title = this.Model.GenusType.Name + " | RiftData";
    this.Layout = "~/Views/Shared/_PanelLayout.cshtml";

}

@section CenterPanel{
    <h2>@this.Model.GenusType.Name</h2>
    @{ if (this.Model.GenusType.HasDescription)
       {
           @this.Model.GenusType.Description
       }
       else
       {
           <p>No description available for this genus type, check again soon!</p>
       }
 }

    <p>Click the links of the left to view species of that Genus.</p>
}


@section Scripts{
    <script src="../../Scripts/PageScripts/home.min.js" type="text/javascript"> </script>
}