<root>
    <FileGroup Name="_layout.js">
        <File Path="Scripts/2011.2.712/jquery-1.5.1.min.js" Minify="false"/>
        <File Path="Scripts/jQueryUI/jquery-ui-1.8.15.custom.min.js" Minify="false"/>
        <File Path="Scripts/JQueryShare/jsShare.min.js" Minify="false"/>
        <File Path="Scripts/PrettyPhoto/js/jquery.prettyPhoto.min.js" Minify="false" />
        <File Path="Scripts/PageScripts/_layout.min.js" Minify="false" />
    </FileGroup>
    <FileGroup Name="_layout.css">
        <File Path="Content/2011.2.712/telerik.transparent.min.css" Minify="false" />
        <File Path="Content/2011.2.712/telerik.common.min.css" Minify="false" />
        <File Path="Content/LocaleInfoBox/LocaleInfoBox.css" Minify="false" />
        <File Path="Scripts/JQueryShare/jsShare.min.css" Minify="false" />
        <File Path="Content/Site.min.css" Minify="false" />
        <File Path="Scripts/PrettyPhoto/css/prettyPhoto.css" Minify="false" />
    </FileGroup>
</root>