@using RiftData.Presentation.ViewModels.Admin
@model MessageBoxViewModel
<div>
    <p>
        @this.Model.Message
    </p>
    <div class="buttonrow">
        <a href="@this.Url.Action(this.Model.OkAction, this.Model.OkController)">
            <button>
                <span>
                    Ok
                </span>
            </button>
        </a>
    </div>
</div>