@using Telerik.Web.Mvc.UI
<div>
    <div>
        <img alt="Preview Image" id="PreviewImage" src="@this.Url.Content("~/Content/Admin/Images/noPhoto.png")" />
    </div>
    @this.Html.Telerik().Upload().Name("attachments").ClientEvents(e =>
        {
            e.OnUpload("OnUpload");
            e.OnSuccess("OnSuccess");
        }).Async(async => async.Save("Save", "Photos"))
    <div class="buttonRow">
        <button id="OkButton">
            <span>OK</span>
        </button>
        <button id="CancelButton">
            <span>Cancel</span>
        </button>
    </div>
</div>

<script type="text/javascript">
    $('#CancelButton').click(function() {

        //get flickrId
        var id = $('#FlickrId').val();

        var url = $('#CancelUrl').html();

        url += '/' + id;

        $.getJSON(url, null, function(result) {
            //close the popup
            $("#PhotoUploader").data("tWindow").close();
        });
    });

    $('#OkButton').click(function() {

        //add photo to the list
        var imgUrl = $('#PreviewImage').attr('src');

        var deleteUrl = $('#DeletePhotoUrl').html() + '?fishId=' + $('#Id').val() + '&photoId=' + $('#PhotoId').val();

        $('#photoReel').append('<li><img src="' + imgUrl + '" /><a href="' + deleteUrl + '"><button><span>Delete Photo</span></button></a></li>');

        $("#PhotoUploader").data("tWindow").close();
    });
</script>