@using RiftData.Presentation.ViewModels.Admin
@using RiftData.Presentation.ViewModels.Admin.Shared
@model PhotoReelElementViewModel
<li>
    <img src="@this.Model.PhotoUrl" />
    <a href="@this.Url.Action("DeletePhoto", new { fishId = this.Model.PhotoId, photoId = FishId })">
        <button>
            <span>Delete Photo</span>
        </button>
    </a>
</li>