@using Telerik.Web.Mvc.UI
<div>
    <div>
        <img alt="Preview Image" id="PreviewImage" src="@this.Url.Content("~/Content/Admin/Images/noPhoto.png")" />
    </div>
    @this.Html.Telerik().Upload().Name("attachments").ClientEvents(e =>
        {
            e.OnUpload("OnUpload");
            e.OnSuccess("OnSuccess");
        }).Async(async => async.Save("Save", "Photos"))
        <div class="field">
            <label>Caption</label>
            @Html.TextBox("PhotoCaption")
        </div>
    <div class="buttonRow">
        <a id="OkButton" class="button" style="display:none;">
            <span>OK</span>
        </a>
        <a id="CancelButton" class="button">
            <span>Cancel</span>
        </a>
    </div>
</div>

<script type="text/javascript">
    $('#CancelButton').click(function() {

        //get flickrId
        var id = $('#FlickrId').val();

        var url = $('#CancelUrl').html();

        url += '/' + id;

        $.getJSON(url, null, function(result) {
            //close the popup
            $("#PhotoUploader").data("tWindow").close();
        });
    });

    $('#OkButton').click(function () {

        //add photo to the list
        var imgUrl = $('#PreviewImage').attr('src');

        var deleteUrl = $('#DeletePhotoUrl').html() + '?fishId=' + $('#Id').val() + '&photoId=' + $('#PhotoId').val();

        $('#photoReel').append('<li><img src="' + imgUrl + '" /><div class="buttonRow"><a class="button"><span>Edit</span></a><a href="' + deleteUrl + '" class="button"><span>Delete</span></a></div></li>');

        //send the caption to the controller
        var captionUrl = $("#AddCaptionUrl").attr('value') + '?photoId=' + $('#PhotoId').val() + "&caption=" + $("#PhotoCaption").val();

        $.getJSON(captionUrl, null, function (result) {

            console.log(captionUrl);

            $("#PhotoUploader").data("tWindow").close();

        });
    });
</script>