@model RiftData.Presentation.ViewModels.LakeViewModel

@{
    ViewBag.Title = string.Format("Lake {0} | RiftData", Model.Lake.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="CenterPanelContent" class="infoContainer">
    <h2>@Model.Lake.Name</h2>
</div>