@using RiftData.Presentation.ViewModels
@model LakeViewModel

@{
    this.ViewBag.Title = string.Format("Lake {0} | RiftData", this.Model.Lake.Name);
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="CenterPanelContent" class="infoContainer">
    <div id="contentHolder">
    <h2>Lake @this.Model.Lake.Name</h2>

    @this.Html.Raw(HttpUtility.HtmlDecode(this.Model.Lake.Description))

    @{ if (Model.Locales.Count > 0)
       {
            <h3>Locales</h3>
            <p>
                @Html.Raw(string.Join(", ", Model.Locales.Select(x => Html.ActionLink(x.Name, "Index", "Locale", new { localeName = x.Name }, null))))
            </p>
       } }
    </div>
</div>