@using RiftData.Presentation.ViewModels
@model LakeViewModel

@{
    this.ViewBag.Title = string.Format("Lake {0} | RiftData", this.Model.Lake.Name);
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="CenterPanelContent" class="infoContainer">
    <h2>@this.Model.Lake.Name</h2>
</div>