<div class="field">
    <input  type="hidden"/>
    <label>Caption</label>
    @Html.TextBox("Caption")
    <div class = "buttonRow">
        <a>
            <span>Ok</span>
        </a>
        <a>
            <span>Cancel</span>
        </a>
    </div>
</div>
<script type="text/javascript">
    
</script>