@model RiftData.Presentation.ViewModels.Mobile.GenusTypesIndexPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Mobile/Views/Shared/_mobileLayout.cshtml";
}

@section PageContent{
    <ul data-role="listview" data-inset="true">
         @foreach(var item in Model.Genera)
         {
             <li>
                <a href="@Url.Action("Index", "Genus", new { genusName = item.Key.Name })">
                    <img src="@(item.Value != null ? item.Value.SquareThumbnail : Url.Content("~/Content/ThumbNailPlaceHolder.png"))" height="80"/>
                    <h3>@item.Key.Name</h3>
                </a>
            </li>
         }
    </ul>
}